n8n-workflows/2-analise-sentimento-openai-v4-fixed.json
{
  "name": "NutriBuddy - Análise OpenAI (Auth + IF Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutribuddy-analyze-sentiment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-analyze",
      "name": "Webhook: Nova Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "nutribuddy-analyze-sentiment"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.3
        },
        "text": "=Analise a seguinte mensagem de um paciente e retorne APENAS um JSON válido (sem markdown, sem explicações) com estas chaves:\n- urgency: \"low\", \"medium\" ou \"high\"\n- sentiment: \"positive\", \"neutral\" ou \"negative\"\n- category: \"nutrition\", \"exercise\", \"doubt\", \"result\" ou \"other\"\n- suggestedTags: array de strings com tags relevantes em português\n\nMensagem do paciente: \"{{$json.content}}\"\n\nRetorne apenas o JSON:"
      },
      "id": "openai-analyze",
      "name": "OpenAI: Analisar Mensagem",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "SELECIONE_SUA_CREDENCIAL",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\ntry {\n  const aiResponse = $input.first().json;\n  \n  // Tentar pegar o conteúdo de diferentes estruturas possíveis\n  let content = '';\n  if (aiResponse.message?.content) {\n    content = aiResponse.message.content;\n  } else if (aiResponse.choices?.[0]?.message?.content) {\n    content = aiResponse.choices[0].message.content;\n  } else if (aiResponse.text) {\n    content = aiResponse.text;\n  } else if (typeof aiResponse === 'string') {\n    content = aiResponse;\n  }\n  \n  // Remove markdown code blocks se presentes\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Parse JSON\n  const analysis = JSON.parse(content);\n  \n  // Retornar dados estruturados\n  return {\n    json: {\n      conversationId: items[0].json.conversationId,\n      messageId: items[0].json.messageId,\n      patientName: items[0].json.patientName || 'Paciente',\n      urgency: analysis.urgency || 'low',\n      sentiment: analysis.sentiment || 'neutral',\n      category: analysis.category || 'other',\n      tags: analysis.suggestedTags || [],\n      rawResponse: content\n    }\n  };\n} catch (error) {\n  // Se falhar, retornar valores padrão\n  return {\n    json: {\n      conversationId: items[0].json.conversationId,\n      messageId: items[0].json.messageId,\n      patientName: items[0].json.patientName || 'Paciente',\n      urgency: 'low',\n      sentiment: 'neutral',\n      category: 'other',\n      tags: ['erro-analise'],\n      error: error.message,\n      rawInput: JSON.stringify($input.first().json)\n    }\n  };\n}"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.urgency }}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      },
      "id": "if-urgent",
      "name": "Se Urgente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:3000/api/messages/conversations/{{$json.conversationId}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "nutribuddy-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"priority\": \"high\",\n  \"tags\": {{JSON.stringify($json.tags)}},\n  \"kanbanColumn\": \"in-progress\",\n  \"urgency\": \"{{$json.urgency}}\",\n  \"sentiment\": \"{{$json.sentiment}}\",\n  \"category\": \"{{$json.category}}\"\n}",
        "options": {}
      },
      "id": "update-priority",
      "name": "Marcar como Urgente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/messages/webhook/urgent-alert",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "nutribuddy-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{$json.conversationId}}\",\n  \"patientName\": \"{{$json.patientName}}\",\n  \"urgency\": \"{{$json.urgency}}\",\n  \"tags\": {{JSON.stringify($json.tags)}}\n}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Enviar Email de Alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:3000/api/messages/conversations/{{$json.conversationId}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "nutribuddy-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": {{JSON.stringify($json.tags)}},\n  \"sentiment\": \"{{$json.sentiment}}\",\n  \"category\": \"{{$json.category}}\",\n  \"urgency\": \"{{$json.urgency}}\"\n}",
        "options": {}
      },
      "id": "update-tags",
      "name": "Atualizar Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"analysis\": $json}"
      },
      "id": "response-success",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook: Nova Mensagem": {
      "main": [
        [
          {
            "node": "OpenAI: Analisar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Analisar Mensagem": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Se Urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Urgente": {
      "main": [
        [
          {
            "node": "Marcar como Urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Urgente": {
      "main": [
        [
          {
            "node": "Enviar Email de Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email de Alerta": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Tags": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-10T02:00:00.000Z",
  "versionId": "4"
}

