n8n-workflows/2-analise-sentimento.json
{
  "name": "NutriBuddy - Análise de Sentimento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutribuddy-analyze-sentiment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-analyze",
      "name": "Webhook: Nova Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nutribuddy-analyze-sentiment"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "Você é um assistente que analisa mensagens de pacientes para identificar urgência, sentimento e categoria. Responda APENAS em formato JSON válido com as seguintes chaves: urgency (low/medium/high), sentiment (positive/neutral/negative), category (nutrition/exercise/doubt/result/other), suggestedTags (array de strings)."
            },
            {
              "role": "user",
              "message": "=Analise esta mensagem: \"{{$json.content}}\""
            }
          ]
        }
      },
      "id": "openai-analyze",
      "name": "OpenAI: Analisar Mensagem",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\ntry {\n  const aiResponse = $input.first().json;\n  let content = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || '';\n  \n  // Remove markdown code blocks if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  const analysis = JSON.parse(content);\n  \n  return {\n    json: {\n      conversationId: items[0].json.conversationId,\n      messageId: items[0].json.messageId,\n      patientName: items[0].json.patientName || 'Paciente',\n      urgency: analysis.urgency || 'low',\n      sentiment: analysis.sentiment || 'neutral',\n      category: analysis.category || 'other',\n      tags: analysis.suggestedTags || []\n    }\n  };\n} catch (error) {\n  // Default values if parsing fails\n  return {\n    json: {\n      conversationId: items[0].json.conversationId,\n      messageId: items[0].json.messageId,\n      patientName: items[0].json.patientName || 'Paciente',\n      urgency: 'low',\n      sentiment: 'neutral',\n      category: 'other',\n      tags: ['sem-analise'],\n      error: error.message\n    }\n  };\n}"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.urgency}}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "id": "if-urgent",
      "name": "Se Urgente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:3000/api/messages/conversations/{{$json.conversationId}}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"priority\": \"high\",\n  \"tags\": {{JSON.stringify($json.tags)}},\n  \"kanbanColumn\": \"in-progress\"\n}",
        "options": {}
      },
      "id": "update-priority",
      "name": "Marcar como Urgente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/webhook/urgent-alert",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{$json.conversationId}}\",\n  \"patientName\": \"{{$json.patientName}}\",\n  \"urgency\": \"{{$json.urgency}}\"\n}",
        "options": {}
      },
      "id": "send-email-alert",
      "name": "Enviar Email de Alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:3000/api/messages/conversations/{{$json.conversationId}}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": {{JSON.stringify($json.tags)}},\n  \"sentiment\": \"{{$json.sentiment}}\",\n  \"category\": \"{{$json.category}}\"\n}",
        "options": {}
      },
      "id": "update-tags-only",
      "name": "Atualizar Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"analysis\": $json}"
      },
      "id": "response-success",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook: Nova Mensagem": {
      "main": [
        [
          {
            "node": "OpenAI: Analisar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Analisar Mensagem": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Se Urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Urgente": {
      "main": [
        [
          {
            "node": "Marcar como Urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Urgente": {
      "main": [
        [
          {
            "node": "Enviar Email de Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email de Alerta": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Tags": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
