n8n-workflows/4-followup-automatico.json
{
  "name": "NutriBuddy - Follow-up Autom치tico",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Agendar: Diariamente 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL}}/api/messages/conversations?status=resolved",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FIREBASE_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-resolved-conversations",
      "name": "Buscar Conversas Resolvidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "conversations",
        "options": {}
      },
      "id": "split-conversations",
      "name": "Dividir em Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verificar se j치 passaram 7 dias desde a 칰ltima mensagem\nconst lastMessageAt = new Date($json.lastMessageAt);\nconst now = new Date();\nconst daysSince = Math.floor((now - lastMessageAt) / (1000 * 60 * 60 * 24));\n\nreturn {\n  ...$json,\n  daysSinceLastMessage: daysSince,\n  shouldSendFollowup: daysSince >= 7\n};"
      },
      "id": "check-days",
      "name": "Verificar Dias Desde 칔ltima Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldSendFollowup}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-should-send",
      "name": "Se Deve Enviar Follow-up",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL}}/api/messages/webhook/ai-response",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationId\": \"{{$json.id}}\",\n  \"content\": \"Ol치 {{$json.metadata.patientName}}! 游녦\\n\\nComo est치 indo seu plano alimentar? Gostaria de saber se voc칡 tem alguma d칰vida ou se h치 algo que eu possa ajudar.\\n\\nEstou aqui para te apoiar! 游눩\",\n  \"aiContext\": {\n    \"type\": \"auto-followup\",\n    \"daysSinceLastMessage\": {{$json.daysSinceLastMessage}}\n  }\n}",
        "options": {}
      },
      "id": "send-followup",
      "name": "Enviar Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL}}/api/messages/conversations/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FIREBASE_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"kanbanColumn\": \"waiting-response\",\n  \"status\": \"active\"\n}",
        "options": {}
      },
      "id": "update-status",
      "name": "Atualizar Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Agendar: Diariamente 9h": {
      "main": [
        [
          {
            "node": "Buscar Conversas Resolvidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Resolvidas": {
      "main": [
        [
          {
            "node": "Dividir em Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir em Items": {
      "main": [
        [
          {
            "node": "Verificar Dias Desde 칔ltima Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Dias Desde 칔ltima Mensagem": {
      "main": [
        [
          {
            "node": "Se Deve Enviar Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Deve Enviar Follow-up": {
      "main": [
        [
          {
            "node": "Enviar Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Follow-up": {
      "main": [
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "nutribuddy"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

