n8n-workflows/8-TRANSCREVER-DIETA-PDF-GEMINI.json
{
  "name": "NutriBuddy - Transcrever Dieta PDF (Gemini - Barato)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutribuddy-transcribe-diet-gemini",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Recebe PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "nutribuddy-transcribe-diet-gemini"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-pdf",
      "name": "Download PDF do Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "operation": "extractText",
        "binaryPropertyName": "data"
      },
      "id": "extract-text",
      "name": "Extrair Texto do PDF",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key={{ $env.GOOGLE_GEMINI_API_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Você é um assistente especializado em ANÁLISE PRECISA de planos alimentares de nutricionistas.\\n\\nSua tarefa é extrair TODOS os dados com MÁXIMA PRECISÃO, sem arredondar ou aproximar valores.\\n\\nREGRAS IMPORTANTES:\\n1. NUNCA arredonde calorias ou macros (use valor EXATO do PDF)\\n2. Se diz \\\"1.790,36 kcal\\\", você deve retornar 1790.36 (não \\\"aproximadamente 1800\\\")\\n3. Extraia CADA refeição com horário EXATO\\n4. Extraia CADA alimento com quantidade EXATA (em gramas, ml, unidades)\\n5. Se houver macros por refeição, extraia TODOS\\n6. Se houver micronutrientes (vitaminas, minerais), extraia TODOS\\n7. Mantenha observações do nutricionista\\n\\n---\\n\\nTexto do PDF:\\n\\n{{ $json.text }}\\n\\n---\\n\\nRetorne APENAS um JSON válido (sem markdown, sem ```json) neste formato:\\n\\n{\\n  \\\"meta\\\": {\\n    \\\"caloriasDiarias\\\": 1790.36,\\n    \\\"periodo\\\": \\\"24 horas\\\",\\n    \\\"objetivo\\\": \\\"emagrecimento saudável\\\",\\n    \\\"nutricionista\\\": \\\"Dr. Nome\\\",\\n    \\\"dataCriacao\\\": \\\"2024-11-14\\\"\\n  },\\n  \\\"macronutrientes\\\": {\\n    \\\"carboidratos\\\": { \\\"gramas\\\": 158.40, \\\"gramsPerKg\\\": 2.56, \\\"percentual\\\": 35.5 },\\n    \\\"proteinas\\\": { \\\"gramas\\\": 137.32, \\\"gramsPerKg\\\": 1.96, \\\"percentual\\\": 30.7 },\\n    \\\"gorduras\\\": { \\\"gramas\\\": 67.42, \\\"gramsPerKg\\\": 0.96, \\\"percentual\\\": 33.8 },\\n    \\\"fibras\\\": { \\\"gramas\\\": 22.26, \\\"gramsPerKg\\\": 0.32 }\\n  },\\n  \\\"refeicoes\\\": [\\n    {\\n      \\\"ordem\\\": 1,\\n      \\\"nome\\\": \\\"Em jejum\\\",\\n      \\\"horario\\\": \\\"07:00\\\",\\n      \\\"percentualDiario\\\": 1.35,\\n      \\\"alimentos\\\": [\\n        { \\\"nome\\\": \\\"Nutrata de creatina\\\", \\\"quantidade\\\": 3.0, \\\"unidade\\\": \\\"g\\\" },\\n        { \\\"nome\\\": \\\"Glutamina\\\", \\\"quantidade\\\": 5.0, \\\"unidade\\\": \\\"g\\\", \\\"observacao\\\": \\\"1 colher chá\\\" }\\n      ],\\n      \\\"macros\\\": {\\n        \\\"calorias\\\": 24.10,\\n        \\\"carboidratos\\\": 0.20,\\n        \\\"proteinas\\\": 8.00,\\n        \\\"gorduras\\\": 0.00,\\n        \\\"fibras\\\": 0.00\\n      }\\n    }\\n  ],\\n  \\\"micronutrientes\\\": [\\n    { \\\"nome\\\": \\\"Cálcio\\\", \\\"quantidade\\\": 164.00, \\\"unidade\\\": \\\"mg\\\", \\\"dri\\\": 1000, \\\"percentualDRI\\\": 16.4 }\\n  ],\\n  \\\"observacoes\\\": [\\\"Beber 2-3L de água\\\", \\\"Mastigar bem\\\"]\\n}\\n\\nIMPORTANTE: Use VALORES EXATOS, não arredonde. Se não encontrar algum campo, use null.\\nRetorne APENAS o JSON, sem texto extra.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 4000,\n    \"topP\": 0.95,\n    \"topK\": 40\n  },\n  \"safetySettings\": [\n    { \"category\": \"HARM_CATEGORY_HARASSMENT\", \"threshold\": \"BLOCK_NONE\" },\n    { \"category\": \"HARM_CATEGORY_HATE_SPEECH\", \"threshold\": \"BLOCK_NONE\" },\n    { \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", \"threshold\": \"BLOCK_NONE\" },\n    { \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\", \"threshold\": \"BLOCK_NONE\" }\n  ]\n}",
        "options": {}
      },
      "id": "gemini-extract",
      "name": "Gemini Pro 1.5 Extrair TUDO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse resposta do Gemini\ntry {\n  const items = $input.all();\n  const geminiResponse = items[0].json;\n  \n  // Extrair texto da resposta Gemini\n  let content = '';\n  \n  if (geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text) {\n    content = geminiResponse.candidates[0].content.parts[0].text;\n  } else if (geminiResponse.text) {\n    content = geminiResponse.text;\n  } else if (typeof geminiResponse === 'string') {\n    content = geminiResponse;\n  }\n  \n  // Limpar markdown e espaços\n  content = content\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .replace(/^\\s+|\\s+$/g, '')\n    .trim();\n  \n  // Parse JSON\n  const dietData = JSON.parse(content);\n  \n  // Pegar patientId do webhook original\n  const webhookData = items.find(i => i.json.patientId);\n  const patientId = webhookData?.json?.patientId || 'unknown';\n  \n  // Estruturar resposta\n  return {\n    json: {\n      patientId: patientId,\n      success: true,\n      transcriptionStatus: 'completed',\n      transcribedAt: new Date().toISOString(),\n      model: 'gemini-1.5-pro',\n      diet: dietData,\n      // Campos extras para compatibilidade\n      meta: dietData.meta || {},\n      macronutrientes: dietData.macronutrientes || {},\n      refeicoes: dietData.refeicoes || [],\n      micronutrientes: dietData.micronutrientes || [],\n      observacoes: dietData.observacoes || [],\n      // Resumo rápido\n      resumo: {\n        totalCalorias: dietData.meta?.caloriasDiarias || 0,\n        totalRefeicoes: dietData.refeicoes?.length || 0,\n        totalAlimentos: dietData.refeicoes?.reduce((sum, ref) => sum + (ref.alimentos?.length || 0), 0) || 0,\n        objetivo: dietData.meta?.objetivo || 'não especificado'\n      }\n    }\n  };\n  \n} catch (error) {\n  console.error('Erro ao parsear dieta (Gemini):', error);\n  console.error('Content recebido:', content);\n  \n  return {\n    json: {\n      patientId: items[0]?.json?.patientId || 'unknown',\n      success: false,\n      transcriptionStatus: 'error',\n      model: 'gemini-1.5-pro',\n      error: error.message,\n      errorDetails: {\n        stack: error.stack,\n        receivedContent: content?.substring(0, 500)\n      },\n      diet: null\n    }\n  };\n}"
      },
      "id": "parse-diet",
      "name": "Parse e Estruturar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-c9eaf.up.railway.app/api/n8n/update-diet-complete",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "nutribuddy-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-backend",
      "name": "Salvar no Backend/Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{ $json.success }},\n  \"message\": \"Dieta transcrita com GEMINI (60x mais barato!)\",\n  \"model\": \"gemini-1.5-pro\",\n  \"patientId\": \"{{ $json.patientId }}\",\n  \"status\": \"{{ $json.transcriptionStatus }}\",\n  \"resumo\": {{ JSON.stringify($json.resumo) }},\n  \"totalCalorias\": {{ $json.resumo.totalCalorias }},\n  \"totalRefeicoes\": {{ $json.resumo.totalRefeicoes }},\n  \"totalAlimentos\": {{ $json.resumo.totalAlimentos }}\n}"
      },
      "id": "response",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook Recebe PDF": {
      "main": [[{"node": "Download PDF do Firebase", "type": "main", "index": 0}]]
    },
    "Download PDF do Firebase": {
      "main": [[{"node": "Extrair Texto do PDF", "type": "main", "index": 0}]]
    },
    "Extrair Texto do PDF": {
      "main": [[{"node": "Gemini Pro 1.5 Extrair TUDO", "type": "main", "index": 0}]]
    },
    "Gemini Pro 1.5 Extrair TUDO": {
      "main": [[{"node": "Parse e Estruturar Dados", "type": "main", "index": 0}]]
    },
    "Parse e Estruturar Dados": {
      "main": [[{"node": "Salvar no Backend/Firestore", "type": "main", "index": 0}]]
    },
    "Salvar no Backend/Firestore": {
      "main": [[{"node": "Resposta Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}

